<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../parts/header') %>
    <form action="" method="post">
      <div>
        <p><%= msg ?? '' %></p>
      </div>
      <div>
        <input type="text" name="name" placeholder="Product name" />
      </div>
      <div>
        <input type="number" name="price" placeholder="Product price" />
      </div>
      <button type="submit">Add</button>
    </form>
    <%- include('../parts/footer') %>
  </body>
</html>
